.background{
    background: #113F67;
    font-family: serif;
    color: #FDF5AA;
}

.Second-Section{
    font-family: serif;
    color: #58A0C8;
}
.third-section{
    background: #FDF5AA;
    font-family: serif;
    color: #34699A;
}